<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./styles.css"/>
  </head>
  <body>
    <h1>Temperature Pico</h1>
    <div id="app">
      <h2>Current Temperature</h2>
      <p id="ct">{{current_temp}}° F</p>
      <div id="update">
        <a href="./profile.html">Update Profile</a>
      </div>
      <div id="t_log">
        <h3>Temperature Log:</h3>
        <ul>
          <li v-for="t in temp_log">{{t.temperature}} : {{t.timestamp}}</li>
        </ul>
      </div>
      <div id="v_log">
        <h3>Violation Log:</h3>
        <ul>
          <li v-for="t in threshold_violations">{{t.temperature}} : {{t.timestamp}}</li>
        </ul>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>