<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./styles.css"/>
        <title>Dice Roller</title>
    </head>
    <body>
        <h1>Dice Roller</h1>
        <div id="app">
            <h2>Number of sides</h2>
            <input v-model="sides" placeholder="sides on the dice"/>
            <h2>Number of dice</h2>
            <input v-model="numDice" placeholder="# of dice"/>
            <br/>
            <br/>
            <button v-on:click="rollDice" type="submit">Roll</button>
            <h3>Result(s)</h3>
            <div id="results">
                <h2 v-for="r in result">{{r}}  </h2>
           </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
        <script src="./dice_script.js"></script>
    </body>
</html>