h1 {
    color:navy;
    /* font-size: xx-large; */
}

body {
    display: flexbox;
    size: 100%;
    text-align: center;
    background-color: silver;
    color: navy;
}

button {
    background-color: whitesmoke;
    color: black;
    /* padding: 10px; */
    padding-left: 20pt;
    padding-right: 20pt;
    font-size: larger;
}

/* #results h2{
    
} */